.mails-list {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: left;
  padding: 12px;
  border-block-end: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: var(--gray2);
}

tr:hover {
  background-color: #ddd;
}