:root {
    --main-bg-color: lightblue;

    --clr1: rgb(96, 107, 91);
    --clr2: rgb(120, 99, 110);
  
    --clr1bg: rgb(153, 166, 149);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(233, 206, 221);
    --clr2bg-light: rgb(253, 236, 246);
  
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);

    /* Notes */
    --note-clr-header-bg: #0c2d4f;
    --note-clr-filter-bg: #113f6e;
    --note-clr-list-bg: #185a9d;
    --note-clr-table-bg: #185a9d;
    --note-clr-details-bg: #467bb1;
    --note-clr-edit-bg: #467bb1;
    --note-clr-footer-bg: #0c2d4f;

    --note-clr-style1-bg: #ca00cc;
    --note-clr-style2-bg: #cf1ad1;
    --note-clr-style3-bg: #d533d6;
    --note-clr-style4-bg: #da4ddb;
    --note-clr-style5-bg: #df66e0;
    --note-clr-style6-bg: #e580e6;
}