.note-header {
    background-color: var(--note-clr-header-bg);
    color: var(--clr2bg-light);
    
}

.header-container {
    display: flex;
    align-items: center;

}

.header-container h1 {
    flex-grow: 1;
}

.note-nav {
    display: flex;
    gap: 15px;
}


@media (max-width: 720px) {
    .note-header {
        color: var(--clr2bg-light);
    }
}
